asgiref
beautifulsoup4
dj-database-url
dj-static
Django
django-bootstrap4
django-cors-headers
django-geojson
django-heroku
django-leaflet
django-toolbelt
geojson
gunicorn
numpy
psycopg2
pytz
soupsieve
sqlparse
static3
whitenoise
