<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qena Smart Map</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

{%include 'navbar2.html'%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
        <style>
     .jumbotron {
    background-image: url('https://live.staticflickr.com/65535/51479757481_9007228939_k.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;

    padding-top: 26%; /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
}
</style>
  </div>
</div>
</head>
<body>
 <div class="row justify-content-around">
  <div class="col">
    <div class="card text-white bg-info mb-3">
        <a href={%url 'education'%}>
      <img src="//live.staticflickr.com/65535/51479747941_1f14f2e3c7_z.jpg" class="card-img-top" alt="...">
      </a>
            <div class="card-body">
        <h5 class="card-title"><a>Educational services</a></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-secondary mb-3">
         <a href={%url 'health'%}>
      <img src="//live.staticflickr.com/65535/51478966857_6401b075ae_z.jpg" class="card-img-top" alt="...">
      </a>
             <div class="card-body">
        <h5 class="card-title"><a>Health services</a></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
     <div class="w-100"></div>
  <div class="col">
    <div class="card text-white bg-dark mb-3">
        <a href={%url 'religious'%}>
      <img src="https://live.staticflickr.com/65535/51478966707_94bd6a2373_z.jpg" class="card-img-top" alt="...">
      </a>
            <div class="card-body">
        <h5 class="card-title"><a>Religious services</a></h5>
        <p class="card-text"></p>
              </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-primary mb-3">
        <a href={%url 'other'%}>
            <img src="https://live.staticflickr.com/65535/51479748111_63bf7fdfd7_z.jpg" class="card-img-top" alt="..." >
      </a>
            <div class="card-body">
        <h5 class="card-title"><a>PostOffice & fireStation</a></h5>
        <p class="card-text"></p>


      </div>
    </div>
  </div>
</div>
<h2></h2>
<div>
        <h2>Coverage of services in the city of Qena <span class="badge badge-secondary">Chart1</span></h2>
 <p class="lead">The interactive figure shows the percentages of public services coverage that were calculated according to the local standards of the city of Qena, which were developed during the study.</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
<canvas id="ctx" width="100"></canvas>
<script>
    plugins: [ChartDataLabels],
     Chart.register(ChartDataLabels);
Chart.defaults.set('plugins.datalabels', {
  color: '#fafafa'
});
var chart = new Chart(ctx, {
   type: 'bar',
   data: {
      labels: ['رياض الأطفال', 'التعليم الابتدائي', 'التعليم الاعدادي', 'التعليم الثانوي', 'الاسعاف', 'الوحدات الصحية', 'المستشفيات', 'المساجد', 'الكنائس', 'الخدمات الثقافية', 'الحدائق والمناطق المفتوحة', 'البريد', 'المطافئ', 'متوسط تغطية المدينة'], // responsible for how many bars are gonna show on the chart
      // create 12 datasets, since we have 12 items
      // data[0] = labels[0] (data for first bar - 'Standing costs') | data[1] = labels[1] (data for second bar - 'Running costs')
      // put 0, if there is no data for the particular bar
      datasets: [{
         label: '% مخدوم ',
         data: [86.8, 87.2, 88.5, 80,99.8,50.7,100,86,78.44,99.2,10.84,91.4,99.15,82.52],
         backgroundColor: '#fdb903'
      }, {
         label: ' % غير مخدوم',
         data: [13.2, 12.8, 11.5, 20,0.2,49.3,0,14,21.56,0.8,89.16,8.6,0.85,17.48],
         backgroundColor: '#b50707'
        },
      ],

   },

   options: {
       responsive: true,
       title:{
           display:true,
           text:'Coverage of services in the city of Qena',

       },
      // legend: {
       //  position: 'right' // place legend on the right side of chart
     // },
      scales: {
         xAxes: {
            stacked: true // this should be set to make the bars stacked
         },
         yAxes: {
            stacked: true // this also..
         }
      },
   },

});
</script>
    </div>
<h1></h1>
<div>
    <h2>Percentages of unserved areas according to the number of services that have a shortage in the city of Qena <span class="badge badge-secondary">Chart2</span></h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>

<canvas id="chtx" width="700"></canvas>
<script>
        plugins: [ChartDataLabels],
     Chart.register(ChartDataLabels);
Chart.defaults.set('plugins.datalabels', {
  color: '#fafafa'
});
var chart = new Chart(chtx, {
   type: 'bar',
   data: {
      labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',], // responsible for how many bars are gonna show on the chart
      datasets: [{
         label: ' % الحميدات',
         data: [1.67, 0.75, 0.57, 0.55,0.16,0.05,0.28,0.12,0.02,0.05,0,0,],
         backgroundColor: '#fdb903'
      }, {
        label: ' % حاجر قنا ',
         data: [5.26, 5.66, 6.89, 3.50,4.51,1.48,0.80,0.10,0.03,0.03,0,0,],
         backgroundColor: '#043280'
        },{
         label: ' % قسم أول',
         data: [0.21, 0.21, 0.44, 0.21,0.20,0.12,0.01,0.10,0.12,0,0,0,],
         backgroundColor: '#0fa205'
      },{
         label: ' % قسم ثان ',
         data: [0.55, 0.34, 0.02, 0.04,0,0,0,0,0,0,0,0,],
         backgroundColor: '#018ce5'
      },{
         label: ' % قسم ثالث ',
         data: [16.30, 2.42, 0.90, 0.32,0.41,0.02,0.10,0,0,0,0,0,],
         backgroundColor: '#b30202'
      },],},
     options: {
       responsive: true,
       title: {
      display: true,
      text: "" },
      scales: {
         xAxes: {
            stacked: true // this should be set to make the bars stacked
         },
         yAxes: {
            stacked: true // this also..
         }}}});
</script>


    </div>

    <h2> </h2>

  <div class="container2">
          <h2>Project Team Work <span class="badge badge-secondary">Supervisors</span></h2>

        <!-- Three columns of text below the carousel -->
         <div class="row justify-content-md-center">
          <div class="col">
            <img class="rounded-circle" src="https://live.staticflickr.com/65535/51618711297_a7b20a03d6_w.jpg" alt="Generic placeholder image" width="110" height="110">
            <h6>Prof.Mohamed Alkhuzamy Aziz</h6>
            <p><a class="btn btn-secondary" href="http://www.fayoum.edu.eg/arts/Geography/DrMohamedE.aspx" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col">
            <img class="rounded-circle" src="" alt="Generic placeholder image" width="110" height="110">
            <h6>Prof.Ibrahim Dissouky Mahmoud</h6>
            <p><a class="btn btn-secondary" href="https://live.staticflickr.com/65535/51618711407_a4e893aa82_c.jpg" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col">
            <img class="rounded-circle" src="https://live.staticflickr.com/65535/51618711342_c658ba85a5_z.jpg" alt="Generic placeholder image" width="110" height="110">
            <h6>Dr.Hamdan Saad Naggar</h6>
            <p><a class="btn btn-secondary" href="http://app.svu.edu.eg/arabic/staff/application/result.aspx?id_num=246" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
            <div class="col">
            <img class="rounded-circle" src="https://pbs.twimg.com/profile_images/1384761679188307969/-He0GgKv_400x400.jpg" alt="Generic placeholder image" width="110" height="110">
            <h6>Mohamed Shamroukh Mohamed</h6>
            <p><a class="btn btn-secondary" href="" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div>
        </div>
{%include 'softs.html'%}

<div class="container1">
    <footer>
        <ul class="list-inline">
            <!-- <li class="list-inline-item"><a href="#">Help</a></li> -->
            <li class="list-inline-item"><a href=https://www.linkedin.com/in/mohamed-shamroukh-348083126/>Linkedin</a></li>
            <li class="list-inline-item"><a href=https://web.facebook.com/Mohamed.shamroukh.m>Facebook</a></li>
            <li class="list-inline-item" ><p class="copyright">developed by Mohamed Shamroukh Mohamed © 2021</p></li>

              </ul>
    </footer>
</div>

</body>
</html>
