
{% load static %}
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'dist/leaflet.awesome-markers.css'%}" />
    <script src="{% static 'dist/leaflet.awesome-markers.js' %}"></script>
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.0/leaflet-search.src.js" integrity="sha512-eqRbsGKN7MLHREgR4LS7vlTIRWVhFY1YaKykm4JlCTy8WXDo/6FZ1pXkqZOXJ4TNIDe54SHn8wWR+qq4N3/g9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.0/leaflet-search.min.css" integrity="sha512-qI2MrOLvDIUkOYlIJTFwZbDQYEcuxaS8Dr4v+RIFz1LHL1KJEOKuO9UKpBBbKxfKzrnw9UB5WrGpdXQi0aAvSw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.0/leaflet-search.min.js" integrity="sha512-lmt2nQGwuhA/7xEG4KjOuzy+kBQVOgpBNFxJR2yWp8J57H8nYxWC8J7Y5woDbqBBpBVHHLbFEi503u5K49KcOA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.0/leaflet-search.mobile.min.css" integrity="sha512-Z27NJRxpYyaB3Xu5n7R3C+xAtKiS53G/8icyWDhG8HZ0Wln+r0UCXJqnoSSe1hXSH28cKtxh3ngjyKUlcYzvUw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.0/leaflet-search.mobile.src.css" integrity="sha512-EtVnrOROe3ZUUyZPjIJIp3obnFkswRfmIC82nZ4bchLIJelY2r3xUBjfSk1++G0y2WOb0i20MLOJqNiRmSWfbw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.0/leaflet-search.mobile.src.min.css" integrity="sha512-SfeL82/EmgRmByeU2zSj7NYmicyT/Wqx3s/lMDR21P60lSRD0UlofnOjQoymv2fX0an6ynMyKC+Wc51eLDFOTQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'search/dist/leaflet-search.min.css'%}" />
<link rel="stylesheet" href="https://github.com/stefanocudini/leaflet-search/blob/master/dist/leaflet-search.min.css" />
<link rel="stylesheet" href="https://github.com/stefanocudini/leaflet-search/blob/master/dist/leaflet-search.mobile.src.css" />
<link rel="stylesheet" href="{% static 'search/dist/leaflet-search.mobile.min.css'%}" />
<link rel="stylesheet" href="https://github.com/stefanocudini/leaflet-search/blob/master/src/leaflet-search.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
<link rel="stylesheet" href="{% static 'locate/dist/L.Control.Locate.css'%}" />
<link rel="stylesheet" href="{% static 'locate/dist/L.Control.Locate.mapbox.css'%}" />
<link rel="stylesheet" href="{% static 'locate/src/L.Control.Locate.mapbox.scss'%}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.74.0/L.Control.Locate.min.js" integrity="sha512-xkz6D/ebeYHZBiWVLfakNmXQR73CHJL2/YSZQfufAjyAwcmNEOTVtxmM1hlbzpCEcg76ohHVow8kSiF9fdaHQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.74.0/L.Control.Locate.css" integrity="sha512-nUoa9zsaX7vY+eSo9/OOsF95gvJKkcYmwfLCCr8o7ZXXj3WBgWaPYoyh3ZpDPWCN+tPb++zqCW5PlG5IoojgYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.74.0/L.Control.Locate.mapbox.css" integrity="sha512-hFtB03pmsP9QtPlDSgmHntHXULy3IW78Kcshg4e4NAbS3TO+h1HLOS5W2OY9bo7MRTX5de8vCj8hpfh0Wqi2yw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.74.0/L.Control.Locate.mapbox.min.css" integrity="sha512-EEN3aA0LJaItkJoyaQ1kzk2Egnjex0sqa3tLk2AU4TDvy+I+Tfhbn5MEIW/wepcMHqkAk7hptl4ZyRXkAfmsBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.74.0/L.Control.Locate.mapbox.min.css.map" />
    <script src="{% static 'locate/src/L.Control.Locate.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="{% static 'search/src/leaflet-search.js' %}"></script>
    <script src="{% static 'search/src/leaflet-search.js' %}"></script>
<link rel="search-icon" type="image/png" href="https://github.com/stefanocudini/leaflet-search/blob/master/images/search-icon.png"/>

    <url src="https://github.com/stefanocudini/leaflet-search/blob/master/images/search-icon.png"></url>
<script src="https://github.com/stefanocudini/leaflet-search/blob/master/src/leaflet-search.js"></script>
<script src="https://ptma.github.io/Leaflet.Legend/src/leaflet.legend.js"></script>
<link rel="stylesheet" href="https://ptma.github.io/Leaflet.Legend/src/leaflet.legend.css">
<style>
     .fa{
    font-family: FontAwesome;}
     .awesome-marker i {
        font-size: 18px;
        margin-top: 8px;
    }
</style>
  <script type="text/javascript">
        function maplayers(map, options) {

            var post = new L.GeoJSON.AJAX('{%url 'post_data'%}', {
                    pointToLayer: function(feature, latlng) {
 var postmarker = L.icon({
    iconUrl: 'https://cdn-icons-png.flaticon.com/512/3448/3448581.png',
    iconSize: [40, 40]
    });
 return  L.marker(latlng,{icon: postmarker}).addTo(map);
                    },
                    onEachFeature: function(feature, layer) {
                        var popupText = "<strong>" +" مكتب بريد "+"<strong>" +feature.properties.name.toString() + "<br />" +" الرمز البريدي  "+ feature.properties.postal_cod.toString() +" الدرجة  "+ feature.properties.grade.toString() +"</strong>"+ "<br />" + feature.properties.e_name.toString() +"</strong>";
                        layer.bindPopup(popupText);
                    }
                });

            var fire = new L.GeoJSON.AJAX('{%url 'fire_data'%}', {
                    pointToLayer: function(feature, latlng) {
  var marker2 = L.icon({
    iconUrl: 'https://cdn-icons-png.flaticon.com/512/356/356982.png',
    iconSize: [40, 40]
    });
 return  L.marker(latlng,{icon: marker2}).addTo(map);
                    },
                    onEachFeature: function(feature, layer) {
                        var popupText = "<strong>" +feature.properties.name.toString() + "<br />"+"</strong>"+ "<br />" + feature.properties.enname.toString() +"</strong>";
                        layer.bindPopup(popupText);
                    }
                });

 var allLayers = L.layerGroup([
    fire,
    post,
   ])
map.addLayer(allLayers);

L.control.search({
        position:'topright',
		layer: allLayers,
		initial: false,
		propertyName: 'name',
       moveToLocation: function(latlng, title, map) {
        map.setView(latlng, 17);    // set the zoom
    },
		buildTip: function(text, val) {
            var type = val.layer.feature.properties.name;
            return '<a href="#" class="' + type + '"><b>' + type + '</b></a>';
        }
	})
	.addTo(map);

map.addControl(L.control.locate({
    strings: {
        title: "Locate Me" },
          locateOptions: {
               flyTo:true,
               maxZoom: 17,
              enableHighAccuracy: true,
}}));
            map.layerscontrol.addOverlay(post,'Post Office')
            map.layerscontrol.addOverlay(fire,'Fire station')

map.zoomControl.enable();
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
 map.zoomControl.disable();
}
L.control.Legend({
    position: "bottomleft",
    title:"",
    symbolWidth:30,
    symbolHeight:30,
    legends: [{
        label:  " Fire Station ",
        type: "image",
        url: "https://cdn-icons-png.flaticon.com/512/356/356982.png",
    },{
        label: " Post Office ",
        type: "image",
        url: "https://cdn-icons-png.flaticon.com/512/3448/3448581.png",
    }]
}).addTo(map);
        }

    </script>




